<div class="jumbotron">
  <h1>Welcome to Code Arcade!</h1>
</div>
<div class="container">
  <p align="center">As the technology and business developers of code arcade,
we want the middle school age group to gain basic computer programming knowledge
at an early age so that they can be informed when making
future education and career decisions.</p>
</div>
<div class="container">
  <h4 align="center">Here are some links to more information!</h4>
  <a href="http://www.stemchallenge.org" target="_blank">National STEM Game Challenge</a> |
  <a href="http://www.ed.gov/stem" target="_blank">Why STEM?</a> |
  <a href="https://www.youtube.com/playlist?list=PLRu2L9J9oDFVa5LObsP87--T1mtEruhVp" target="_blank">Introduction to Computer Coding (videos)</a> |
  <a href="https://www.learncreatebuild.com/" target="_blank">Technology Camps</a>
