<div ng-controller="TetrisCtrl as tetris">
<script src="../../bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
<div class="col-xs-4" float="left">
  <audio id="clearsound" src="../sound/pop.ogg" preload="auto"></audio>
  <canvas width='200' height='450' style='border:2px solid black' align='center'></canvas>
  <script src='../scripts/tetris/tetris.js'></script>
  <script src='../scripts/tetris/controller.js'></script>
  <script src='../scripts/tetris/render.js'></script>
</div>

<div class="col-xs-4" style="border:1px solid black;margin:auto">
  <h4 style="font-color:red;">Modify the code below by clicking and dragging the boxes to the values!</h4>
  <code>
    <h4>class Tetris {</h4>
    <p>columns = </p><div style="border:1px solid black;" class="div1" id="columns" ondrop="changeColumns(event)" ondragover="allowDrop(event)"></br></br></div>
    <p>rows = </p><div style="border:1px solid black;" class="div1" id="rows" ondrop="changeRows(event)" ondragover="allowDrop(event)"></br></br></div>
    <p>colors = </p><div style="border:1px solid black;" class="div1" id="color" ondrop="changeColors(event)" ondragover="allowDrop(event)"></br></br></div>
    <p>dropSpeed = </p><div style="border:1px solid black;" class="div1" id="color" ondrop="changeSpeed(event)" ondragover="allowDrop(event)"></br></br></div>
    <p>}
  </code>
</div>

</br>
</br>
<div class="col-xs-3">
  <button class="btn" id="300" draggable="true" ondragstart="drag(event)">300</button>
  <button class="btn" id="600" draggable="true" ondragstart="drag(event)">600</button>
  <button class="btn" id="10" draggable="true" ondragstart="drag(event)">10</button>
  <button class="btn" id="20" draggable="true" ondragstart="drag(event)">20</button>
  <button class="btn" id="cyan" draggable="true" ondragstart="drag(event)">cyan</button>
  <button class="btn" id="orange" draggable="true" ondragstart="drag(event)">orange</button>
  <button class="btn" id="blue" draggable="true" ondragstart="drag(event)">blue</button>
  <button class="btn" id="yellow" draggable="true" ondragstart="drag(event)">yellow</button>
  <button class="btn" id="red" draggable="true" ondragstart="drag(event)">red</button>
  <button class="btn" id="green" draggable="true" ondragstart="drag(event)">green</button>
  <button class="btn" id="purple" draggable="true" ondragstart="drag(event)">purple</button>
</div>
</div>
</br>
</br>

<div class="col-xs-12">
</br>
  <h2 align="center">Need Help?</h2>
  <p align="center">Try dragging the blocks into the spots to change the number of columns, rows, colors and drop speed. Remember to put numbers in the columns, rows, and drop speed sections for them to work correctly!</p>
  <p align="center">Remember that changing the number of rows/columns can make some columns in space the window doesn't show! You can also restrict the area within the window that can be used for Tetris</p>
  <p align="center">After dragging in a color block, it can take a few seconds to take effect.</p>
  <p align="center">Higher drop speeds will result in the game slowing down, and lower drop speeds will result in the game moving more quickly!</p>
